#menu-0 .navbar-toggler {
  color: #000;
}
#header1-1 H1 {
  font-size: 72px;
}
#header1-1 P {
  font-size: 30px;
}
#msg-box5-2 .lead P {
  text-align: left;
}
#msg-box5-2 .mbr-section-title {
  text-align: left;
}
#menu-4 .navbar-toggler {
  color: #000;
}
#content5-m .mbr-section-title {
  color: #000000;
  font-size: 60px;
}
#content5-m P {
  color: #000000;
}
#content5-m .mbr-section-title SPAN {
  font-size: 72px;
}
#content5-n P {
  text-align: center;
}
#content5-s .mbr-section-title {
  text-align: center;
}
#content5-u .mbr-section-title {
  text-align: center;
}
#content5-u P {
  text-align: center;
}
#content5-w .mbr-section-title {
  text-align: center;
}
#content5-w P {
  text-align: center;
}
#content5-10 P {
  text-align: center;
}
#content5-17 .mbr-section-title {
  text-align: center;
}
#content5-17 P {
  text-align: center;
}
#menu-b .navbar-toggler {
  color: #000;
}
#content5-d .mbr-section-title {
  font-size: 60px;
}
#content5-d P {
  font-size: 24px;
}
#content5-19 P {
  text-align: left;
}
#content5-19 .mbr-section-title {
  text-align: center;
}
